.xiang-control {
}

/* block control*/
.xiang-control .btn-1,
.xiang-control .btn-2,
.xiang-control .btn-3,
.xiang-control .btn-4,
.xiang-control .btn-5,
.xiang-control .btn-6,
.xiang-control .btn-7,
.xiang-control .btn-back-1 {
    border-radius: 5px;
    cursor: pointer;
    display: block;
    font-family: 'Arial Regular', 'Arial', sans-serif;
    font-size: 18px;
    height: 48px;
    line-height: 48px;
    margin: 0;
    outline: none;
    padding: 0;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.xiang-control .btn-1,
.xiang-control .btn-back-1 {
    background-color: var(--v1-clr-a2);
    border: 0;
    color: #fff;
    width: 114px;
}

.xiang-control .btn-1:hover {
    background-color: var(--v1-clr-d2);
}

.xiang-control .btn-2,
.xiang-control .btn-4,
.xiang-control .btn-5,
.xiang-control .btn-6,
.xiang-control .btn-7 {
    background-color: var(--v1-clr-b2);
    border: solid 1px var(--v1-clr-a2);
    color: #fff;
    font-size: 16px;
    width: 297px;
}
.xiang-control .btn-2:before,
.xiang-control .btn-4:before,
.xiang-control .btn-5:before,
.xiang-control .btn-7:before {
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: var(--v1-clr-b1);
    content: '👁';
    float: left;
    font-size: 24px;
    height: 48px;
    width: 48px;
}
.xiang-control .btn-2:hover,
.xiang-control .btn-4:hover,
.xiang-control .btn-5:hover,
.xiang-control .btn-7:hover {
    box-shadow: 0 0 5px var(--v1-clr-a2);
    text-shadow: 0 0 5px var(--v1-clr-a2);
}

.xiang-control .btn-3 {
    background-color: #fff;
    border: dashed 2px var(--v1-clr-e2);
    color: var(--v1-clr-e2);
    width: 614px;
}
.xiang-control .btn-3:before {
    content: '+';
    margin-right: 24px;
}
.xiang-control .btn-3:hover {
    background-color: var(--v1-clr-e3);
    color: #999;
}

.xiang-control .btn-4:before {
    content: '💾';
}

.xiang-control .btn-5:before {
    content: '📇';
}

.xiang-control .btn-6 {
    border: none;
}

.xiang-control .btn-6:hover {
    box-shadow: 0 0 5px var(--v1-clr-b1);
    text-shadow: 0 0 5px var(--v1-clr-b1);
}

.xiang-control .btn-7:before {
    content: '➕';
}

.xiang-control .btn-back-1 {
    background-color: var(--v1-clr-e3);
    color: var(--v1-clr-a2);
    display: inline-block;
}
.xiang-control .btn-back-1:hover {
    background-color: var(--v1-clr-a2);
    color: white;
}
.xiang-control .btn-back-1:before {
    content: '<';
    float: left;
    margin-left: 24px;
}


.xiang-control .paging-1 {

}
.xiang-control .paging-1 .paging-previous,
.xiang-control .paging-1 .paging-con,
.xiang-control .paging-1 .paging-li,
.xiang-control .paging-1 .paging-next {
    border: solid 1px var(--v1-clr-e1);
    color: var(--v1-clr-a2);
    cursor: pointer;
    float: left;
    font-size: 18px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
}
.xiang-control .paging-1 .paging-previous:hover,
.xiang-control .paging-1 .paging-li:hover,
.xiang-control .paging-1 .paging-next:hover {
    background-color: var(--v1-clr-e3);
}
.xiang-control .paging-1 .paging-previous,
.xiang-control .paging-1 .paging-next {
    width: 96px;
}
.xiang-control .paging-1 .paging-previous {
    border-radius: 8px 0 0 8px;
    border-right: 0;
}
.xiang-control .paging-1 .paging-previous:before {
    content: 'Previous';
}

.xiang-control .paging-1 .paging-con {
    border: 0;
}
.xiang-control .paging-1 .paging-li {
    border-right: 0;
    width: 48px;
}

.xiang-control .paging-1 .paging-li a {
    display: inline-block;
    text-decoration: none;
    user-select: none;
    width: 48px;
}

.xiang-control .paging-1 .paging-li.sel {
    background-color: var(--v1-clr-a2);
}
.xiang-control .paging-1 .paging-li.sel a {
    color: white;
}

.xiang-control .paging-1 .paging-next {
    border-radius: 0 8px 8px 0;
}
.xiang-control .paging-1 .paging-next:before {
    content: 'Next';
}
